{% extends 'main.html' %}
{% block error %}
        <div class="content">
            <div class="col-md-12">
                <div class="content">
                    <div class="text-danger result-text">
                        <p>An error occurred with the sql server</p>
                    </div>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            You can read error description under this spoiler [press me]
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                <div class="text-info error-discription"><p>{{ ThisEx }}</p></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}
