{% extends 'main.html' %}
{% block error %}
        <div class="content">
            <div class="col-sm-6">
                <div class="content">
                    <div class="text-danger result-text">
                        <p>ERROR!</p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Button with data-target
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                <p>{{ ThisEx }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
