{% extends 'main.html' %}
{% block index %}
        <div class="content">
            <div class="col-md-6">
                <form action="/remove">
                    <div style="height: 450px; overflow: auto;">
                        <table class="table table-bordered">
                            {% for element in list_db %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="base" value="{{ element }}"> {{ element }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="padding-button"><input type="submit" class="btn btn-danger" value="Remove selected database"></div>
                </form>
            </div>
            <div class="col-md-6">
                <form action="/restore">
                    <div style="height: 450px; overflow: auto;">
                        <table class="table table-bordered backup-table">
                            {% for element in backup_dir %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="backup" value="{{ element }}"> {{ element }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="padding-button"><input type="submit" class="btn btn-success" value="Restore selected backup"></div>
                </form>
            </div>
        </div>
{% endblock %}